h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

th, td {
  padding: 8px 16px;
  text-align: left;
  width: 150px;
}

.tituilo_tabela{
    width: 150px;
}